.justify-evenly {
  justify-content: space-evenly;
}

body {
  margin: 0;
  background-color: #d8ce99;
}

.w1 {
  width: 0.5rem;
}
.w2 {
  width: 1rem;
}
.w3 {
  width: 2rem;
}
.w4 {
  height: 4rem;
}
.w5 {
  width: 8rem;
}

.h1 {
  height: 0.5rem;
}
.h2 {
  height: 1rem;
}
.h3 {
  height: 2rem;
}
.h4 {
  height: 4rem;
}
.h5 {
  height: 8rem;
}

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.yesteryear {
  font-family: Yesteryear, cursive;
}

.bg-yuck {
  background-color: #d8ce99;
}

.yuck {
  color: #d8ce99;
}

.namify {
  transform: scale(1, 1.45);
  letter-spacing: 6px;
}
